[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyterlab = "*"
matplotlib = "*"
momepy = "*"
pyrosm = "*"
osmnx = "*"
folium = "*"
mapclassify = "*"
gtfs-functions = "*"
ipython = "*"
h3 = "==3.7.7"

[dev-packages]

[requires]
python_version = "3.10.15"
